.field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #e0f7fa;
    border: 2px solid #00796b;
    position: relative;
}

.goal {
    width: 100px;
    height: 50px;
    background-color: #ffccbc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 2px solid #d32f2f;
}

.player {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #00796b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.player-name {
    font-size: 12px;
    text-align: center;
}

.position-1 { top: 10%; left: 10%; }
.position-2 { top: 10%; left: 30%; }
.position-3 { top: 10%; left: 50%; }
.position-4 { top: 10%; left: 70%; }
.position-5 { top: 30%; left: 20%; }
.position-6 { top: 30%; left: 40%; }
.position-7 { top: 30%; left: 60%; }
.position-8 { top: 30%; left: 80%; }
.position-9 { top: 50%; left: 30%; }
.position-10 { top: 50%; left: 50%; }
.position-11 { top: 50%; left: 70%; }